{
  "extends": [
    "@wisersolutions",
    "@wisersolutions/eslint-config/jest"
  ],
  "overrides": [
    {
      "files": ["src/**/*.test.js"],
      "rules": {
        "no-sparse-arrays": "off"
      }
    }
  ]
}